@font-face {
    font-family: Devonshire;
    src: url(../fonts/Devonshire-Regular.ttf);
}
body{
    background-color: rgb(251, 242, 231);
}
h1{
    font-family: Devonshire;
    font-size: 50px;
    color: maroon;
}
h2{
    font-family: Devonshire;
    color: maroon;
    font-size: 40px;
    text-align: center;
}
section{
    display: flex;
}
article{
    border: double grey 3px;
    margin-top: 120px;
    margin-left: 40px;
    margin-right: 50px;
    margin-bottom: 170px;
    padding: 30px;
}
a{
    text-decoration: none;
    background-color: whitesmoke;
    padding: 10px;
    color: grey;
    border-bottom: maroon double 2px;
}
a:hover{
    background-color: rgb(245, 227, 196);
    padding: 10px;
    color: black;
    border: rgb(86, 3, 31) double 4px;
    text-decoration: none;
}

